body {
  font-family: "Cairo", sans-serif;
  background-color: #f4f4f4;
}

button {
  background-color: transparent !important;
  color: #bf40bf !important;
  border-color: #bf40bf !important;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.video-icon {
  color: white;
  background-color: #bf40bf;
  border-radius: 15%;
}

.navbar .nav-link:hover {
  color: #fff;
  background-color: #bf40bf;
}

time {
  position: absolute;
  bottom: 10px;
  left: 8px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0px 3px;
}

.watch-later {
  position: absolute;
  top: 8px;
  left: 8px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2px 8px;
  font-size: 1.2rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 4px;
}

* {
  transition: 0.3s ease;
}

.card:hover .watch-later {
  opacity: 1;
}

.card:hover {
  transform: translateY(-0.9%);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.card:hover .card-img-top {
  transform: scale(1.1);
}